In [1]:
import pandas as pd 
import numpy as np

In [13]:
# 1Ô∏è‚É£ Load the dataset into a DataFrame and print it
df = pd.read_csv("superstore.csv")
print("=== Entire Dataset ===")
print(df)

=== Entire Dataset ===
      Row_ID        Order_ID  Order_Date   Ship_Date       Ship_Mode  \
0          1  CA-2017-152156   8/11/2017  11/11/2017    Second Class
1          2  CA-2017-152156   8/11/2017  11/11/2017    Second Class
2          3  CA-2017-138688   12/6/2017  16/06/2017    Second Class
3          4  US-2016-108966  11/10/2016  18/10/2016  Standard Class
4          5  US-2016-108966  11/10/2016  18/10/2016  Standard Class
...      ...             ...         ...         ...             ...
9795    9796  CA-2017-125920  21/05/2017  28/05/2017  Standard Class
9796    9797  CA-2016-128608   12/1/2016  17/01/2016  Standard Class
9797    9798  CA-2016-128608   12/1/2016  17/01/2016  Standard Class
9798    9799  CA-2016-128608   12/1/2016  17/01/2016  Standard Class
9799    9800  CA-2016-128608   12/1/2016  17/01/2016  Standard Class

     Customer_ID     Customer_Name    Segment        Country             City  \
0       CG-12520       Claire Gute   Consumer  United States        Henderson
1       CG-12520       Claire Gute   Consumer  United States        Henderson
2       DV-13045   Darrin Van Huff  Corporate  United States      Los Angeles
3       SO-20335     Sean O Donnel   Consumer  United States  Fort Lauderdale
4       SO-20335     Sean O Donnel   Consumer  United States  Fort Lauderdale
...          ...               ...        ...            ...              ...
9795    SH-19975     Sally Hughsby  Corporate  United States          Chicago
9796    CS-12490  Cindy Schnelling  Corporate  United States           Toledo
9797    CS-12490  Cindy Schnelling  Corporate  United States           Toledo
9798    CS-12490  Cindy Schnelling  Corporate  United States           Toledo
9799    CS-12490  Cindy Schnelling  Corporate  United States           Toledo

           State  Postal_Code   Region       Product_ID         Category  \
0       Kentucky      42420.0    South  FUR-BO-10001798        Furniture
1       Kentucky      42420.0    South  FUR-CH-10000454        Furniture
2     California      90036.0     West  OFF-LA-10000240  Office Supplies
3        Florida      33311.0    South  FUR-TA-10000577        Furniture
4        Florida      33311.0    South  OFF-ST-10000760  Office Supplies
...          ...          ...      ...              ...              ...
9795    Illinois      60610.0  Central  OFF-BI-10003429  Office Supplies
9796        Ohio      43615.0     East  OFF-AR-10001374  Office Supplies
9797        Ohio      43615.0     East  TEC-PH-10004977       Technology
9798        Ohio      43615.0     East  TEC-PH-10000912       Technology
9799        Ohio      43615.0     East  TEC-AC-10000487       Technology

     Sub_Category                                       Product_Name     Sales
0       Bookcases                  Bush Somerset Collection Bookcase  261.9600
1          Chairs  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400
2          Labels  Self-Adhesive Address Labels for Typewriters b...   14.6200
3          Tables      Bretford CR4500 Series Slim Rectangular Table  957.5775
4         Storage                      Eldon Fold N Roll Cart System   22.3680
...           ...                                                ...       ...
9795      Binders  Cardinal HOLDit! Binder Insert Strips,Extra St...    3.7980
9796          Art           BIC Brite Liner Highlighters, Chisel Tip   10.3680
9797       Phones                                        GE 30524EE4  235.1880
9798       Phones           Anker 24W Portable Micro USB Car Charger   26.3760
9799  Accessories                SanDisk Cruzer 4 GB USB Flash Drive   10.3840

[9800 rows x 18 columns]

In [8]:
# 2Ô∏è‚É£ Display the size of the dataset
print("\n=== Size of Dataset ===")
print(df.shape)   # (rows, columns)

=== Size of Dataset ===
(9800, 18)

In [9]:
# 3Ô∏è‚É£ Print the first 10 rows
print("\n=== First 10 Rows ===")
print(df.head(10))

=== First 10 Rows ===
   Row_ID        Order_ID  Order_Date   Ship_Date       Ship_Mode Customer_ID  \
0       1  CA-2017-152156   8/11/2017  11/11/2017    Second Class    CG-12520
1       2  CA-2017-152156   8/11/2017  11/11/2017    Second Class    CG-12520
2       3  CA-2017-138688   12/6/2017  16/06/2017    Second Class    DV-13045
3       4  US-2016-108966  11/10/2016  18/10/2016  Standard Class    SO-20335
4       5  US-2016-108966  11/10/2016  18/10/2016  Standard Class    SO-20335
5       6  CA-2015-115812    9/6/2015  14/06/2015  Standard Class    BH-11710
6       7  CA-2015-115812    9/6/2015  14/06/2015  Standard Class    BH-11710
7       8  CA-2015-115812    9/6/2015  14/06/2015  Standard Class    BH-11710
8       9  CA-2015-115812    9/6/2015  14/06/2015  Standard Class    BH-11710
9      10  CA-2015-115812    9/6/2015  14/06/2015  Standard Class    BH-11710

     Customer_Name    Segment        Country             City       State  \
0      Claire Gute   Consumer  United States        Henderson    Kentucky
1      Claire Gute   Consumer  United States        Henderson    Kentucky
2  Darrin Van Huff  Corporate  United States      Los Angeles  California
3    Sean O Donnel   Consumer  United States  Fort Lauderdale     Florida
4    Sean O Donnel   Consumer  United States  Fort Lauderdale     Florida
5  Brosina Hoffman   Consumer  United States      Los Angeles  California
6  Brosina Hoffman   Consumer  United States      Los Angeles  California
7  Brosina Hoffman   Consumer  United States      Los Angeles  California
8  Brosina Hoffman   Consumer  United States      Los Angeles  California
9  Brosina Hoffman   Consumer  United States      Los Angeles  California

   Postal_Code Region       Product_ID         Category Sub_Category  \
0      42420.0  South  FUR-BO-10001798        Furniture    Bookcases
1      42420.0  South  FUR-CH-10000454        Furniture       Chairs
2      90036.0   West  OFF-LA-10000240  Office Supplies       Labels
3      33311.0  South  FUR-TA-10000577        Furniture       Tables
4      33311.0  South  OFF-ST-10000760  Office Supplies      Storage
5      90032.0   West  FUR-FU-10001487        Furniture  Furnishings
6      90032.0   West  OFF-AR-10002833  Office Supplies          Art
7      90032.0   West  TEC-PH-10002275       Technology       Phones
8      90032.0   West  OFF-BI-10003910  Office Supplies      Binders
9      90032.0   West  OFF-AP-10002892  Office Supplies   Appliances

                                        Product_Name     Sales
0                  Bush Somerset Collection Bookcase  261.9600
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400
2  Self-Adhesive Address Labels for Typewriters b...   14.6200
3      Bretford CR4500 Series Slim Rectangular Table  957.5775
4                      Eldon Fold N Roll Cart System   22.3680
5  Eldon Expressions Wood and Plastic Desk Access...   48.8600
6                                         Newell 322    7.2800
7                     Mitel 5320 IP Phone VoIP phone  907.1520
8  DXL Angle-View Binders with Locking Rings by S...   18.5040
9                   Belkin F5C206VTEL 6 Outlet Surge  114.9000

In [10]:
# 4Ô∏è‚É£ Print the last 10 rows
print("\n=== Last 10 Rows ===")
print(df.tail(10))

=== Last 10 Rows ===
      Row_ID        Order_ID  Order_Date   Ship_Date       Ship_Mode  \
9790    9791  CA-2018-144491  27/03/2018    1/4/2018  Standard Class
9791    9792  CA-2015-127166  21/05/2015  23/05/2015    Second Class
9792    9793  CA-2015-127166  21/05/2015  23/05/2015    Second Class
9793    9794  CA-2015-127166  21/05/2015  23/05/2015    Second Class
9794    9795  CA-2015-127166  21/05/2015  23/05/2015    Second Class
9795    9796  CA-2017-125920  21/05/2017  28/05/2017  Standard Class
9796    9797  CA-2016-128608   12/1/2016  17/01/2016  Standard Class
9797    9798  CA-2016-128608   12/1/2016  17/01/2016  Standard Class
9798    9799  CA-2016-128608   12/1/2016  17/01/2016  Standard Class
9799    9800  CA-2016-128608   12/1/2016  17/01/2016  Standard Class

     Customer_ID     Customer_Name    Segment        Country     City  \
9790    CJ-12010   Caroline Jumper   Consumer  United States  Houston
9791    KH-16360  Katherine Hughes   Consumer  United States  Houston
9792    KH-16360  Katherine Hughes   Consumer  United States  Houston
9793    KH-16360  Katherine Hughes   Consumer  United States  Houston
9794    KH-16360  Katherine Hughes   Consumer  United States  Houston
9795    SH-19975     Sally Hughsby  Corporate  United States  Chicago
9796    CS-12490  Cindy Schnelling  Corporate  United States   Toledo
9797    CS-12490  Cindy Schnelling  Corporate  United States   Toledo
9798    CS-12490  Cindy Schnelling  Corporate  United States   Toledo
9799    CS-12490  Cindy Schnelling  Corporate  United States   Toledo

         State  Postal_Code   Region       Product_ID         Category  \
9790     Texas      77070.0  Central  FUR-CH-10001714        Furniture
9791     Texas      77070.0  Central  OFF-EN-10003134  Office Supplies
9792     Texas      77070.0  Central  FUR-CH-10003396        Furniture
9793     Texas      77070.0  Central  OFF-PA-10001560  Office Supplies
9794     Texas      77070.0  Central  OFF-BI-10000977  Office Supplies
9795  Illinois      60610.0  Central  OFF-BI-10003429  Office Supplies
9796      Ohio      43615.0     East  OFF-AR-10001374  Office Supplies
9797      Ohio      43615.0     East  TEC-PH-10004977       Technology
9798      Ohio      43615.0     East  TEC-PH-10000912       Technology
9799      Ohio      43615.0     East  TEC-AC-10000487       Technology

     Sub_Category                                       Product_Name    Sales
9790       Chairs     Global Leather & Oak Executive Chair, Burgundy  211.246
9791    Envelopes                                    Staple envelope   56.064
9792       Chairs                          Global Deluxe Steno Chair  107.772
9793        Paper        Adams Telephone Message Books, 5 1/4  x 11     4.832
9794      Binders                 Ibico Plastic Spiral Binding Combs   18.240
9795      Binders  Cardinal HOLDit! Binder Insert Strips,Extra St...    3.798
9796          Art           BIC Brite Liner Highlighters, Chisel Tip   10.368
9797       Phones                                        GE 30524EE4  235.188
9798       Phones           Anker 24W Portable Micro USB Car Charger   26.376
9799  Accessories                SanDisk Cruzer 4 GB USB Flash Drive   10.384

In [11]:
# 5Ô∏è‚É£ Display the information about data in the dataset
print("\n=== Dataset Info ===")
print(df.info())

=== Dataset Info ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row_ID         9800 non-null   int64
 1   Order_ID       9800 non-null   object
 2   Order_Date     9800 non-null   object
 3   Ship_Date      9800 non-null   object
 4   Ship_Mode      9800 non-null   object
 5   Customer_ID    9800 non-null   object
 6   Customer_Name  9800 non-null   object
 7   Segment        9800 non-null   object
 8   Country        9800 non-null   object
 9   City           9800 non-null   object
 10  State          9800 non-null   object
 11  Postal_Code    9789 non-null   float64
 12  Region         9800 non-null   object
 13  Product_ID     9800 non-null   object
 14  Category       9800 non-null   object
 15  Sub_Category   9800 non-null   object
 16  Product_Name   9800 non-null   object
 17  Sales          9800 non-null   float64
dtypes: float64(2), int64(1), object(15)
memory usage: 1.3+ MB
None

In [12]:
# 6Ô∏è‚É£ Display the statistical view of the dataset
print("\n=== Statistical Summary ===")
print(df.describe(include='all'))

=== Statistical Summary ===
             Row_ID        Order_ID Order_Date   Ship_Date       Ship_Mode  \
count   9800.000000            9800       9800        9800            9800
unique          NaN            4922       1230        1326               4
top             NaN  CA-2018-100111   5/9/2017  26/09/2018  Standard Class
freq            NaN              14         38          34            5859
mean    4900.500000             NaN        NaN         NaN             NaN
std     2829.160653             NaN        NaN         NaN             NaN
min        1.000000             NaN        NaN         NaN             NaN
25%     2450.750000             NaN        NaN         NaN             NaN
50%     4900.500000             NaN        NaN         NaN             NaN
75%     7350.250000             NaN        NaN         NaN             NaN
max     9800.000000             NaN        NaN         NaN             NaN

       Customer_ID  Customer_Name   Segment        Country           City  \
count         9800           9800      9800           9800           9800
unique         793            793         3              1            529
top       WB-21850  William Brown  Consumer  United States  New York City
freq            35             35      5101           9800            891
mean           NaN            NaN       NaN            NaN            NaN
std            NaN            NaN       NaN            NaN            NaN
min            NaN            NaN       NaN            NaN            NaN
25%            NaN            NaN       NaN            NaN            NaN
50%            NaN            NaN       NaN            NaN            NaN
75%            NaN            NaN       NaN            NaN            NaN
max            NaN            NaN       NaN            NaN            NaN

             State   Postal_Code Region       Product_ID         Category  \
count         9800   9789.000000   9800             9800             9800
unique          49           NaN      4             1861                3
top     California           NaN   West  OFF-PA-10001970  Office Supplies
freq          1946           NaN   3140               19             5909
mean           NaN  55273.322403    NaN              NaN              NaN
std            NaN  32041.223413    NaN              NaN              NaN
min            NaN   1040.000000    NaN              NaN              NaN
25%            NaN  23223.000000    NaN              NaN              NaN
50%            NaN  58103.000000    NaN              NaN              NaN
75%            NaN  90008.000000    NaN              NaN              NaN
max            NaN  99301.000000    NaN              NaN              NaN

       Sub_Category     Product_Name         Sales
count          9800             9800   9800.000000
unique           17             1849           NaN
top         Binders  Staple envelope           NaN
freq           1492               47           NaN
mean            NaN              NaN    230.769059
std             NaN              NaN    626.651875
min             NaN              NaN      0.444000
25%             NaN              NaN     17.248000
50%             NaN              NaN     54.490000
75%             NaN              NaN    210.605000
max             NaN              NaN  22638.480000

In [13]:
# 7Ô∏è‚É£ Display the datatypes of data in the dataset
print("\n=== Data Types ===")
print(df.dtypes)

=== Data Types ===
Row_ID             int64
Order_ID          object
Order_Date        object
Ship_Date         object
Ship_Mode         object
Customer_ID       object
Customer_Name     object
Segment           object
Country           object
City              object
State             object
Postal_Code      float64
Region            object
Product_ID        object
Category          object
Sub_Category      object
Product_Name      object
Sales            float64
dtype: object

In [14]:
# 8Ô∏è‚É£ Print the null values of all columns
print("\n=== Null Values in Each Column ===")
print(df.isnull().sum())

=== Null Values in Each Column ===
Row_ID            0
Order_ID          0
Order_Date        0
Ship_Date         0
Ship_Mode         0
Customer_ID       0
Customer_Name     0
Segment           0
Country           0
City              0
State             0
Postal_Code      11
Region            0
Product_ID        0
Category          0
Sub_Category      0
Product_Name      0
Sales             0
dtype: int64

In [15]:
# 9Ô∏è‚É£ Display the number of unique values in the dataset
print("\n=== Unique Values in Each Column ===")
print(df.nunique())

=== Unique Values in Each Column ===
Row_ID           9800
Order_ID         4922
Order_Date       1230
Ship_Date        1326
Ship_Mode           4
Customer_ID       793
Customer_Name     793
Segment             3
Country             1
City              529
State              49
Postal_Code       626
Region              4
Product_ID       1861
Category            3
Sub_Category       17
Product_Name     1849
Sales            5757
dtype: int64

In [21]:
# üîü Print % of null value in each column
print("\n=== Percentage of Null Values in Each Column ===")
print((df.isnull().sum() / len(df)) * 100)

=== Percentage of Null Values in Each Column ===
Row_ID           0.0
Order_ID_new     0.0
Order_Date       0.0
Ship_Date        0.0
Ship_Mode        0.0
Customer_ID      0.0
Customer_Name    0.0
Segment          0.0
Country          0.0
City             0.0
State            0.0
Postal_Code      0.0
Region           0.0
Product_ID       0.0
Category         0.0
Sub_Category     0.0
Product_Name     0.0
Sales            0.0
dtype: float64

In [16]:
# 1Ô∏è‚É£1Ô∏è‚É£ Fill missing values in the dataset with mean of that column
print("\n=== Filling Missing Values with Column Mean ===")
for col in df.columns:
    if df[col].dtype in ['float64', 'int64']:
        # df[col].fillna(df[col].mean(), inplace=True)  will get deprecated in future...
        df.fillna({col: df[col].mean()}, inplace=True) # Alternative method
print(df.isnull().sum())

=== Filling Missing Values with Column Mean ===
Row_ID           0
Order_ID         0
Order_Date       0
Ship_Date        0
Ship_Mode        0
Customer_ID      0
Customer_Name    0
Segment          0
Country          0
City             0
State            0
Postal_Code      0
Region           0
Product_ID       0
Category         0
Sub_Category     0
Product_Name     0
Sales            0
dtype: int64

In [17]:
# 1Ô∏è‚É£2Ô∏è‚É£ Sort the values based on the third column
third_col = df.columns[2]
print(f"\n=== Sorting by Third Column ({third_col}) ===")
df_sorted = df.sort_values(by=third_col)
print(df_sorted)

=== Sorting by Third Column (Order_Date) ===
      Row_ID        Order_ID Order_Date   Ship_Date       Ship_Mode  \
4009    4010  CA-2018-144463   1/1/2018    5/1/2018  Standard Class
8069    8070  CA-2018-151750   1/1/2018    5/1/2018  Standard Class
6682    6683  CA-2018-154466   1/1/2018    2/1/2018     First Class
8070    8071  CA-2018-151750   1/1/2018    5/1/2018  Standard Class
8075    8076  CA-2018-151750   1/1/2018    5/1/2018  Standard Class
...      ...             ...        ...         ...             ...
1219    1220  US-2018-118087   9/9/2018  13/09/2018  Standard Class
1218    1219  US-2018-118087   9/9/2018  13/09/2018  Standard Class
1217    1218  US-2018-118087   9/9/2018  13/09/2018  Standard Class
1215    1216  US-2018-118087   9/9/2018  13/09/2018  Standard Class
8754    8755  CA-2018-152198   9/9/2018   10/9/2018     First Class

     Customer_ID      Customer_Name      Segment        Country          City  \
4009    SC-20725  Steven Cartwright     Consumer  United States   Los Angeles
8069    JM-15250       Janet Martin     Consumer  United States    Huntsville
6682    DP-13390      Dennis Pardue  Home Office  United States      Franklin
8070    JM-15250       Janet Martin     Consumer  United States    Huntsville
8075    JM-15250       Janet Martin     Consumer  United States    Huntsville
...          ...                ...          ...            ...           ...
1219    SP-20620   Stefania Perrino    Corporate  United States  Philadelphia
1218    SP-20620   Stefania Perrino    Corporate  United States  Philadelphia
1217    SP-20620   Stefania Perrino    Corporate  United States  Philadelphia
1215    SP-20620   Stefania Perrino    Corporate  United States  Philadelphia
8754    JD-16015        Joy Daniels     Consumer  United States        Toledo

             State  Postal_Code   Region       Product_ID         Category  \
4009    California      90036.0     West  FUR-FU-10001215        Furniture
8069         Texas      77340.0  Central  OFF-ST-10002743  Office Supplies
6682     Wisconsin      53132.0  Central  OFF-BI-10002012  Office Supplies
8070         Texas      77340.0  Central  FUR-FU-10002116        Furniture
8075         Texas      77340.0  Central  OFF-AP-10004708  Office Supplies
...            ...          ...      ...              ...              ...
1219  Pennsylvania      19134.0     East  TEC-PH-10002200       Technology
1218  Pennsylvania      19134.0     East  TEC-AC-10003174       Technology
1217  Pennsylvania      19134.0     East  FUR-FU-10001867        Furniture
1215  Pennsylvania      19134.0     East  OFF-AR-10003602  Office Supplies
8754          Ohio      43615.0     East  OFF-BI-10003669  Office Supplies

     Sub_Category                                       Product_Name     Sales
4009  Furnishings  Howard Miller 11-1/2 Diameter Brentwood Wall C...   474.430
8069      Storage                      SAFCO Boltless Steel Shelving   454.560
6682      Binders            Wilson Jones Easy Flow II Sheet Lifters     3.600
8070  Furnishings  Tenex Carpeted, Granite-Look or Clear Contempo...   141.420
8075   Appliances  Fellowes Superior 10 Outlet Split Surge Protector    15.224
...           ...                                                ...       ...
1219       Phones                              Samsung Galaxy Note 2  1931.958
1218  Accessories    Plantronics S12 Corded Telephone Headset System   258.696
1217  Furnishings  Eldon Expressions Punched Metal & Wood Desk Ac...    17.024
1215          Art               Quartet Omega Colored Chalk, 12/Pack     4.672
8754      Binders                                3M Organizer Strips     4.860

[9800 rows x 18 columns]

In [18]:
# 1Ô∏è‚É£3Ô∏è‚É£ Rename the second column name
second_col = df.columns[1]
new_col_name = second_col + "_new"
df.rename(columns={second_col: new_col_name}, inplace=True)
print(f"\n=== Renamed '{second_col}' to '{new_col_name}' ===")
print(df.head())

=== Renamed 'Order_ID' to 'Order_ID_new' ===
   Row_ID    Order_ID_new  Order_Date   Ship_Date       Ship_Mode Customer_ID  \
0       1  CA-2017-152156   8/11/2017  11/11/2017    Second Class    CG-12520
1       2  CA-2017-152156   8/11/2017  11/11/2017    Second Class    CG-12520
2       3  CA-2017-138688   12/6/2017  16/06/2017    Second Class    DV-13045
3       4  US-2016-108966  11/10/2016  18/10/2016  Standard Class    SO-20335
4       5  US-2016-108966  11/10/2016  18/10/2016  Standard Class    SO-20335

     Customer_Name    Segment        Country             City       State  \
0      Claire Gute   Consumer  United States        Henderson    Kentucky
1      Claire Gute   Consumer  United States        Henderson    Kentucky
2  Darrin Van Huff  Corporate  United States      Los Angeles  California
3    Sean O Donnel   Consumer  United States  Fort Lauderdale     Florida
4    Sean O Donnel   Consumer  United States  Fort Lauderdale     Florida

   Postal_Code Region       Product_ID         Category Sub_Category  \
0      42420.0  South  FUR-BO-10001798        Furniture    Bookcases
1      42420.0  South  FUR-CH-10000454        Furniture       Chairs
2      90036.0   West  OFF-LA-10000240  Office Supplies       Labels
3      33311.0  South  FUR-TA-10000577        Furniture       Tables
4      33311.0  South  OFF-ST-10000760  Office Supplies      Storage

                                        Product_Name     Sales
0                  Bush Somerset Collection Bookcase  261.9600
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400
2  Self-Adhesive Address Labels for Typewriters b...   14.6200
3      Bretford CR4500 Series Slim Rectangular Table  957.5775
4                      Eldon Fold N Roll Cart System   22.3680

In [19]:
# 1Ô∏è‚É£4Ô∏è‚É£ Print the categorical and numerical columns
print("\n=== Categorical Columns ===")
cat_cols = df.select_dtypes(include=['object']).columns
print(cat_cols)

print("\n=== Numerical Columns ===")
num_cols = df.select_dtypes(include=['int64', 'float64']).columns
print(num_cols)

=== Categorical Columns ===
Index(['Order_ID_new', 'Order_Date', 'Ship_Date', 'Ship_Mode', 'Customer_ID',
       'Customer_Name', 'Segment', 'Country', 'City', 'State', 'Region',
       'Product_ID', 'Category', 'Sub_Category', 'Product_Name'],
      dtype='object')

=== Numerical Columns ===
Index(['Row_ID', 'Postal_Code', 'Sales'], dtype='object')

In [20]:
# 1Ô∏è‚É£5Ô∏è‚É£ Drop the outliers from numerical columns using IQR
print("\n=== Removing Outliers ===")
Q1 = df[num_cols].quantile(0.25)
Q3 = df[num_cols].quantile(0.75)
IQR = Q3 - Q1
df_no_outliers = df[~((df[num_cols] < (Q1 - 1.5 * IQR)) | (df[num_cols] > (Q3 + 1.5 * IQR))).any(axis=1)]

print("Original shape:", df.shape)
print("After removing outliers:", df_no_outliers.shape)
print("\n=== Dataset after removing outliers ===")
print(df_no_outliers.head())

=== Removing Outliers ===
Original shape: (9800, 18)
After removing outliers: (8655, 18)

=== Dataset after removing outliers ===
   Row_ID    Order_ID_new  Order_Date   Ship_Date       Ship_Mode Customer_ID  \
0       1  CA-2017-152156   8/11/2017  11/11/2017    Second Class    CG-12520
2       3  CA-2017-138688   12/6/2017  16/06/2017    Second Class    DV-13045
4       5  US-2016-108966  11/10/2016  18/10/2016  Standard Class    SO-20335
5       6  CA-2015-115812    9/6/2015  14/06/2015  Standard Class    BH-11710
6       7  CA-2015-115812    9/6/2015  14/06/2015  Standard Class    BH-11710

     Customer_Name    Segment        Country             City       State  \
0      Claire Gute   Consumer  United States        Henderson    Kentucky
2  Darrin Van Huff  Corporate  United States      Los Angeles  California
4    Sean O Donnel   Consumer  United States  Fort Lauderdale     Florida
5  Brosina Hoffman   Consumer  United States      Los Angeles  California
6  Brosina Hoffman   Consumer  United States      Los Angeles  California

   Postal_Code Region       Product_ID         Category Sub_Category  \
0      42420.0  South  FUR-BO-10001798        Furniture    Bookcases
2      90036.0   West  OFF-LA-10000240  Office Supplies       Labels
4      33311.0  South  OFF-ST-10000760  Office Supplies      Storage
5      90032.0   West  FUR-FU-10001487        Furniture  Furnishings
6      90032.0   West  OFF-AR-10002833  Office Supplies          Art

                                        Product_Name    Sales
0                  Bush Somerset Collection Bookcase  261.960
2  Self-Adhesive Address Labels for Typewriters b...   14.620
4                      Eldon Fold N Roll Cart System   22.368
5  Eldon Expressions Wood and Plastic Desk Access...   48.860
6                                         Newell 322    7.280